.btn {
    @apply text-[13px] text-center pt-[6px] py-1 px-2 h-[2rem] w-[8rem] uppercase relative;
}

.primary-btn {
    @apply text-white bg-primary;
}

/*  .primary-btn:hover,
.primary-btn:active {
    @apply bg-primary;
}

.primary-btn::after {
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid rgb(var(--color-grey) / 0.8);
    position: absolute;
    top: -8px;
    left: 12px;
    transition: all 0.4s;
}

.primary-btn:hover::after {
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid rgba(var(--color-primary) / 0);
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.4s;
} */

.primary-btn {
    box-shadow: -5px 5px 0px 0px rgba(255, 255, 255, 1);
    -webkit-box-shadow: -5px 5px 0px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: -5px 5px 0px 0px rgba(255, 255, 255, 1);
}

.primary-btn:hover {
    box-shadow: 0px 0px 0px 0px rgba(255, 248, 248, 0.75);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.75);
    transition: all 0.3s;
    @apply bg-red-700;
}

.secondary-btn {
    @apply text-white bg-primary;
}

.secondary-btn:hover,
.secondary-btn:active {
    @apply bg-secondary;
}

.secondary-btn::after {
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid rgb(var(--color-primary) / 0.8);
    position: absolute;
    top: -8px;
    left: 12px;
    transition: all 0.3s;
}

.secondary-btn:hover::after {
    content: "";
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border: 1px solid rgba(var(--color-secondary) / 0.8);
    position: absolute;
    top: -5px;
    left: -5px;
    transition: all 0.3s;
}

.title-underline::after {
    content: "";
    width: 80px;
    height: 8px;
    display: block;
    background-color: rgba(var(--color-secondary) / 0.8);
}

/* about */
.about-bg {
    background-image: url("../../assets/images/who-we-are/background.jpg");
    box-shadow: 0 0 0 100vmax #ffffff;
    clip-path: inset(0 -100vmax);
}

.top-left-bar {
    width: 44px;
    height: 38px;
    border-top: solid 4px rgba(var(--color-primary) / 1);
    border-left: solid 4px rgba(var(--color-primary) / 1);
    position: absolute;
    left: -8px;
    top: -10px;
}

.top-dot {
    width: 4px;
    height: 6px;
    background-color: rgba(var(--color-primary) / 1);
    position: absolute;
    left: 32px;
    top: -8px;
}

.bottom-bar {
    width: 25px;
    height: 8px;
    border-top: solid 4px rgba(var(--color-primary) / 1);
    border-left: solid 4px rgba(var(--color-primary) / 1);
    border-right: solid 4px rgba(var(--color-primary) / 1);
    position: absolute;
    left: -8px;
    bottom: -8px;
    transform: rotate(180deg);
}

.tag {
    display: block;
    padding: 4px;
    padding-bottom: 2px;
    margin-inline: auto;
    background-color: rgba(var(--color-primary) / 1);
    color: white;
    font-size: 12px;
}

.corners-box {
    background: linear-gradient(to right, #fa0032 4px, transparent 4px) 0 0,
        linear-gradient(to right, #fa0032 4px, transparent 4px) 0 100%,
        linear-gradient(to left, #fa0032 4px, transparent 4px) 100% 0,
        linear-gradient(to left, #fa0032 4px, transparent 4px) 100% 100%,
        linear-gradient(to bottom, #fa0032 4px, transparent 4px) 0 0,
        linear-gradient(to bottom, #fa0032 4px, transparent 4px) 100% 0,
        linear-gradient(to top, #fa0032 4px, transparent 4px) 0 100%,
        linear-gradient(to top, #fa0032 4px, transparent 4px) 100% 100%;

    background-repeat: no-repeat;
    background-size: 12px 12px;
}

.top-corners {
    background: linear-gradient(to right, #fa0032 4px, transparent 4px) 0 0,
        linear-gradient(to left, #fa0032 4px, transparent 4px) 100% 0,
        linear-gradient(to bottom, #fa0032 4px, transparent 4px) 0 0,
        linear-gradient(to bottom, #fa0032 4px, transparent 4px) 100% 0;

    background-repeat: no-repeat;
    background-size: 12px 12px;
}
