.btn {
    @apply text-[13px] text-center pt-[6px] py-1 px-2 h-[2rem] w-[8rem] uppercase relative;
}

.primary-btn {
    @apply text-white bg-grey;
}

.primary-btn:hover,
.primary-btn:active {
    @apply bg-primary;
}

.primary-btn::after {
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid rgb(var(--color-grey) / 0.8);
    position: absolute;
    top: -8px;
    left: 12px;
    transition: all 0.4s;
}

.primary-btn:hover::after {
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid rgba(var(--color-primary) / 0);
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 0.4s;
}

.secondary-btn {
    @apply text-white bg-primary;
}

.secondary-btn:hover,
.secondary-btn:active {
    @apply bg-secondary;
}

.secondary-btn::after {
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid rgb(var(--color-primary) / 0.8);
    position: absolute;
    top: -8px;
    left: 12px;
    transition: all 0.3s;
}

.secondary-btn:hover::after {
    content: "";
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    border: 1px solid rgba(var(--color-secondary) / 0.8);
    position: absolute;
    top: -5px;
    left: -5px;
    transition: all 0.3s;
}

.title-underline::after {
    content: "";
    width: 80px;
    height: 8px;
    display: block;
    background-color: rgba(var(--color-secondary) / 0.8);
}

/* about */
.about-bg {
    background-image: url("../../assets/images/who-we-are/background.jpg");
    box-shadow: 0 0 0 100vmax #ffffff;
    clip-path: inset(0 -100vmax);
}

.top-left-bar {
    width: 44px;
    height: 38px;
    border-top: solid 4px rgba(var(--color-primary) / 1);
    border-left: solid 4px rgba(var(--color-primary) / 1);
    position: absolute;
    left: -8px;
    top: -10px;
}

.top-dot {
    width: 4px;
    height: 6px;
    background-color: rgba(var(--color-primary) / 1);
    position: absolute;
    left: 32px;
    top: -8px;
}

.bottom-bar {
    width: 25px;
    height: 8px;
    border-top: solid 4px rgba(var(--color-primary) / 1);
    border-left: solid 4px rgba(var(--color-primary) / 1);
    border-right: solid 4px rgba(var(--color-primary) / 1);
    position: absolute;
    left: -8px;
    bottom: -8px;
    transform: rotate(180deg);
}

.tag {
    display: block;
    padding: 4px;
    padding-bottom: 2px;
    margin-inline: auto;
    background-color: rgba(var(--color-primary) / 1);
    color: white;
    font-size: 12px;
}
