@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text: 253 231 231;
        --color-background: 5 5 5;
        --color-primary: 250 0 50;
        --color-secondary: 155 62 4;
        --color-accent: 250 160 50;
        --color-black: 30 30 30;
        --color-grey: 89 89 89;
    }
    /* 
    :root[data-theme="light"] {
        --color-text: 9 14 16;
        --color-background: 232 238 243;
        --color-primary: 83 0 1;
        --color-secondary: 20 90 118;
        --color-accent: 147 186 130;
    }

    :root[data-theme="dark"] {
        --color-text: 238 243 245;
        --color-background: 12 18 23;
        --color-primary: 83 0 1;
        --color-secondary: 20 90 118;
        --color-accent: 86 125 69;
    } */
}

body {
    color: rgb(var(--color-text));
    background: rgb(var(--color-background));
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-tiltWarp);
    font-weight: 400;
}

.full-bleed {
    box-shadow: 0 0 0 100vmax;
    clip-path: inset(0 -100vmax);
}

.about-section {
    background-image: url("../assets/images/who-we-are/background.jpg");
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.about-cta {
    padding: 1.82rem 3.6rem;
    transition: all 0.3s;
    width: 21rem;
}

.about-cta::after {
    content: "";
    width: 20rem;
    height: 5.5rem;
    border: 1px solid rgba(63, 63, 63, 0.362);
    position: absolute;
    top: -12px;
    left: 12px;
    transition: all 0.4s;
}

.about-cta:hover:after {
    content: "";
    width: 20rem;
    height: 5.5rem;
    border: 1px solid #ff0336;
    position: absolute;
    top: -0px;
    left: 0px;
    transition: all 0.4s;
}

.girl-running {
    width: 100%;
    height: auto;
    top: 60%;
    right: 46%;
    transform: translate(50%, -50%);
    position: absolute;
    z-index: 5;
}

.girl-bg {
    width: 51%;
    height: auto;
    top: 67.7%;
    right: 33%;
    transform: translate(50%, -50%);
    position: absolute;
}

.girl-text {
    width: 17%;
    height: auto;
    top: 67.7%;
    right: 84%;
    transform: translate(50%, -50%);
    position: absolute;
}

.girl-wind {
    width: 15%;
    height: auto;
    top: 64.7%;
    right: 29%;
    transform: translate(50%, -50%);
    position: absolute;
}
