@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text: 253 231 231;
        --color-background: 5 5 5;
        --color-primary: 250 0 50;
        --color-secondary: 155 62 4;
        --color-accent: 250 160 50;
        --color-black: 30 30 30;
        --color-grey: 89 89 89;
    }
    /* 
    :root[data-theme="light"] {
        --color-text: 9 14 16;
        --color-background: 232 238 243;
        --color-primary: 83 0 1;
        --color-secondary: 20 90 118;
        --color-accent: 147 186 130;
    }

    :root[data-theme="dark"] {
        --color-text: 238 243 245;
        --color-background: 12 18 23;
        --color-primary: 83 0 1;
        --color-secondary: 20 90 118;
        --color-accent: 86 125 69;
    } */
}

body {
    color: rgb(var(--color-text));
    background: rgb(var(--color-background));
    font-family: var(--font-notoSans);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-tiltWarp);
    font-weight: 400;
}

.full-bleed-black {
    box-shadow: 0 0 0 100vmax #1e1e1e;
    clip-path: inset(0 -100vmax);
}

.full-bleed-white {
    box-shadow: 0 0 0 100vmax #ffffff;
    clip-path: inset(0 -100vmax);
}
